<div class="container">
    <!--sidebar-->
   <div class="col-md-3">
       <we-sidebar></we-sidebar>
   </div>
    <!--weather details-->
    <div class="col-md-9">
        <we-search></we-search>
        <we-list></we-list>
    </div>
</div>
